@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.movie-container {
  margin: 20px 0;
  select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; // cannot for other os
  }
}

.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  &.selected {
    background-color: #6feaf6;
  }
  &.occupied {
    background-color: #fff;
  }
  &:nth-of-type(2) {
    margin-right: 18px;
  }
  &:nth-last-of-type(2) {
    margin-left: 18px;
  }
  &:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
}

.showcase {
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }
  li {
    display: flex;
    align-items: content;
    justify-content: center;
    margin: 0 10px;
    small {
      margin-left: 2px;
    }
  }
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
  span {
    color: #6feaf6;
  }
}
